Repository renovatebot/renovate, pull requests merged in 2018-11, with the labels that each got.

#2727 test: Fix gradle tests in Windows
  test/manager/gradle/index.spec.js
Labels: ready

#2726 feat: Support pip_requirements extras
  lib/manager/pip_requirements/extract.js
  test/_fixtures/pip_requirements/requirements4.txt
  test/manager/pip_requirements/__snapshots__/extract.spec.js.snap
  test/manager/pip_requirements/__snapshots__/update.spec.js.snap
  test/manager/pip_requirements/extract.spec.js
  test/manager/pip_requirements/update.spec.js
Labels: ready

#2736 feat: Python compatibility
  lib/config/definitions.js
  lib/datasource/pypi.js
  test/datasource/__snapshots__/pypi.spec.js.snap
  test/datasource/pypi.spec.js
  website/docs/configuration-options.md
Labels: ready

#2742 feat: better docker versioning
  lib/versioning/docker/index.js
  lib/versioning/pep440/index.js
  lib/versioning/semver-composer/index.js
  lib/versioning/semver/index.js
  lib/workers/repository/process/lookup/index.js
  test/versioning/docker.spec.js
  test/workers/repository/process/lookup/__snapshots__/index.spec.js.snap
  test/workers/repository/process/lookup/index.spec.js
Labels: ready

#2772 feat: delete gitlab labels
  lib/platform/gitlab/index.js
  test/platform/gitlab/__snapshots__/index.spec.js.snap
  test/platform/gitlab/index.spec.js
  website/docs/install-gitlab-app.md
Labels: ready

#2773 fix: requirements.txt extras
  lib/manager/pip_requirements/extract.js
  lib/manager/pip_requirements/update.js
  test/manager/pip_requirements/__snapshots__/update.spec.js.snap
  test/manager/pip_requirements/update.spec.js
Labels: ready

#2782 feat: Support go_repository in bazel
  lib/manager/bazel/extract.js
  lib/manager/bazel/update.js
  test/_fixtures/bazel/WORKSPACE1
  test/manager/bazel/__snapshots__/extract.spec.js.snap
Labels: ready

#2821 feat: Support Bazel commit-based go_repository
  lib/datasource/go.js
  lib/manager/bazel/extract.js
  lib/manager/bazel/update.js
  test/manager/bazel/__snapshots__/extract.spec.js.snap
Labels: ready

#2805 feat: Support setup.py files
  .gitignore
  .travis.yml
  lib/config/definitions.js
  lib/manager/index.js
  lib/manager/pip_requirements/extract.js
  lib/manager/pip_setup/extract.js
  lib/manager/pip_setup/extract.py
  lib/manager/pip_setup/index.js
  lib/util/ignore.js
  requirements.txt
  test/_fixtures/pip_setup/setup.py
  test/manager/pip_setup/__snapshots__/extract.spec.js.snap
  test/manager/pip_setup/extract.spec.js
  test/workers/repository/extract/__snapshots__/index.spec.js.snap
  website/docs/configuration-options.md
Labels: ready

#2779 feat: Support updating gradle global variables
  lib/manager/gradle/build-gradle.js
  lib/manager/gradle/index.js
  test/manager/gradle/__snapshots__/index.spec.js.snap
  test/manager/gradle/build-gradle.spec.js
  test/manager/gradle/index.spec.js
Labels: in progress

#2844 docs: Package Manager questionnaires
  lib/manager/buildkite/readme.md
  lib/manager/composer/readme.md
  test/manager/__snapshots__/manager-docs.spec.js.snap
  test/manager/manager-docs.spec.js
Labels: in progress, pri2-important

#2623 feat: Support pipenv
  lib/config/definitions.js
  lib/manager/index.js
  lib/manager/pipenv/artifacts.js
  lib/manager/pipenv/extract.js
  lib/manager/pipenv/index.js
  lib/manager/pipenv/update.js
  package.json
  test/_fixtures/pipenv/Pipfile1
  test/_fixtures/pipenv/Pipfile2
  test/manager/__snapshots__/manager-docs.spec.js.snap
  test/manager/pipenv/__snapshots__/artifacts.spec.js.snap
  test/manager/pipenv/__snapshots__/extract.spec.js.snap
  test/manager/pipenv/__snapshots__/update.spec.js.snap
  test/manager/pipenv/artifacts.spec.js
  test/manager/pipenv/extract.spec.js
  test/manager/pipenv/update.spec.js
  test/workers/repository/extract/__snapshots__/index.spec.js.snap
  website/docs/configuration-options.md
  website/docs/python.md
  yarn.lock
Labels: in progress, pri2-important
