Repository renovatebot/renovate, pull requests merged in 2018-04, with the labels that each got.

#1774 Added test for global and repo presets defined in config.js
  test/_fixtures/config/file-with-repo-presets.js
  test/config/__snapshots__/index.spec.js.snap
  test/config/index.spec.js
Labels: blocked

#1777 feat: Raise config error if config found within nested package.json
  lib/manager/npm/resolve.js
  test/manager/resolve.spec.js
Labels: in progress

#1810 Config validation update (#1773)
  bin/config-validator.js
  lib/config/validation.js
  test/config/__snapshots__/validation.spec.js.snap
  test/config/validation.spec.js
Labels: pri2-important, ready

#1760 feat: modular branchName/prTitle/commitMessage templating
  lib/config/definitions.js
  lib/config/templates/default/branch-name.hbs
  lib/config/templates/default/pr-title.hbs
  lib/config/templates/docker-digest-group/pr-body.hbs
  lib/config/templates/docker-digest/branch-name.hbs
  lib/config/templates/docker-digest/commit-message.hbs
  lib/config/templates/docker-digest/pr-title.hbs
  lib/config/templates/docker-group/pr-title.hbs
  lib/config/templates/docker-pin-group/pr-title.hbs
  lib/config/templates/docker-pin/branch-name.hbs
  lib/config/templates/docker-pin/pr-title.hbs
  lib/config/templates/docker/branch-name.hbs
  lib/config/templates/docker/commit-message.hbs
  lib/config/templates/docker/pr-title.hbs
  lib/config/templates/group/branch-name.hbs
  lib/config/templates/group/commit-message.hbs
  lib/config/templates/group/pr-title.hbs
  lib/config/templates/lock-file-maintenance/branch-name.hbs
  lib/config/templates/lock-file-maintenance/commit-message.hbs
  lib/config/templates/lock-file-maintenance/pr-title.hbs
  lib/config/templates/node/branch-name.hbs
  lib/config/validation.js
  lib/manager/npm/versions.js
  lib/workers/branch/commit.js
  lib/workers/repository/updates/branchify.js
  lib/workers/repository/updates/generate.js
  test/config/__snapshots__/index.spec.js.snap
  test/config/__snapshots__/validation.spec.js.snap
  test/config/validation.spec.js
  test/manager/npm/__snapshots__/versions.spec.js.snap
  test/workers/branch/__snapshots__/commit.spec.js.snap
  test/workers/branch/commit.spec.js
  test/workers/repository/updates/__snapshots__/generate.spec.js.snap
  test/workers/repository/updates/generate.spec.js
  website/docs/_posts/2017-10-05-configuration-options.md
  website/docs/_posts/2018-04-09-configuration-templates.md
Labels: in progress

#1835 Added matchCurrentVersion selector to packageRules
  lib/config/definitions.js
  lib/config/validation.js
  lib/util/semver.js
  lib/workers/package-file/dep-type.js
  test/config/__snapshots__/index.spec.js.snap
  test/config/__snapshots__/validation.spec.js.snap
  test/config/validation.spec.js
  test/workers/package-file/dep-type.spec.js
  website/docs/_posts/2017-10-05-configuration-options.md
Labels: blocked
