Repository renovatebot/renovate, pull requests merged in 2018-08, with the labels that each got.

#2360 fix(docker): use library/ prefix instead of amd64/
  lib/datasource/docker.js
Labels: blocked

#2359 fix: digest pinning of latest version
  lib/workers/repository/process/lookup/index.js
  test/workers/repository/process/lookup/__snapshots__/index.spec.js.snap
  test/workers/repository/process/lookup/index.spec.js
Labels: blocked, pri2-important

#2414 chore: Ignore nuget auto generated files
  test/_fixtures/nuget/.gitignore
Labels: ready

#2323 feat: Git FS
  lib/platform/git/storage.js
  lib/platform/github/index.js
  package.json
  test/platform/git/__snapshots__/storage.spec.js.snap
  test/platform/git/storage.spec.js
  test/platform/github/index.spec.js
  test/platform/github/storage.spec.js
  yarn.lock
Labels: pri2-important, ready
