Repository renovatebot/renovate, pull requests merged in 2019-02, with the labels that each got.

#3111 fix(ghe): update github release notes to use api endpoint instead of sourceUrl
  lib/workers/pr/changelog/release-notes.js
  lib/workers/pr/changelog/source-github.js
  test/workers/pr/changelog/__snapshots__/index.spec.js.snap
  test/workers/pr/changelog/release-notes.spec.js
Labels: pri2-important, review

#3159 feat: got wrapper
  lib/datasource/cargo/index.js
  lib/datasource/docker/index.js
  lib/datasource/go/index.js
  lib/datasource/gradle-version/index.js
  lib/datasource/maven/index.js
  lib/datasource/nuget/index.js
  lib/datasource/orb/index.js
  lib/datasource/packagist/index.js
  lib/datasource/pypi/index.js
  lib/datasource/ruby-version/index.js
  lib/datasource/rubygems/get.js
  lib/datasource/terraform/index.js
  lib/util/got/cache-get.js
  lib/util/got/index.js
  lib/util/got/renovate-agent.js
  test/datasource/cargo.spec.js
  test/datasource/docker.spec.js
  test/datasource/github.spec.js
  test/datasource/gitlab.spec.js
  test/datasource/go.spec.js
  test/datasource/gradle-version.spec.js
  test/datasource/nuget.spec.js
  test/datasource/orb.spec.js
  test/datasource/packagist.spec.js
  test/datasource/pypi.spec.js
  test/datasource/ruby-version.spec.js
  test/datasource/rubygems/index.spec.js
  test/datasource/terraform.spec.js
Labels: review

#3168 feat(bitbucket): git fs
  lib/platform/bitbucket/index.js
  lib/platform/bitbucket/utils.js
  test/platform/bitbucket/__snapshots__/index.spec.js.snap
  test/platform/bitbucket/index.spec.js
Labels: review

#3062 feat(gradle): use maven datasource
  lib/config/definitions.js
  lib/manager/gradle/gradle-updates-report.js
  lib/manager/gradle/index.js
  test/_fixtures/gradle/MultiProjectUpdatesReport.json
  test/_fixtures/gradle/updatesReport.json
  test/_fixtures/gradle/updatesReportEmpty.json
  test/datasource/maven.spec.js
  test/manager/gradle/__snapshots__/index.spec.js.snap
  test/manager/gradle/index.spec.js
Labels: review

#3179 refactor(maven): unify `depName` between Maven and Gradle
  lib/datasource/maven/index.js
  lib/manager/maven/extract.js
  test/datasource/maven.spec.js
  test/manager/maven/__snapshots__/extract.spec.js.snap
  test/manager/maven/index.spec.js
Labels: review

#3125 feat(python): add simple endpoint support
  lib/datasource/pypi/index.js
  lib/manager/pipenv/extract.js
  test/_fixtures/pypi/versions-html-badfile.html
  test/_fixtures/pypi/versions-html.html
  test/datasource/__snapshots__/pypi.spec.js.snap
  test/datasource/pypi.spec.js
  test/manager/pipenv/__snapshots__/extract.spec.js.snap
  test/manager/pipenv/extract.spec.js
Labels: review

#2774 feat(bitbucket): Bitbucket Server platform support
  docs/self-hosting.md
  lib/platform/bitbucket-server/README.md
  lib/platform/bitbucket-server/bb-got-wrapper.js
  lib/platform/bitbucket-server/index.js
  lib/platform/bitbucket-server/utils.js
  lib/platform/git/storage.js
  lib/platform/index.js
  lib/util/host-rules.js
  lib/workers/global/index.js
  test/_fixtures/bitbucket-server/responses.js
  test/platform/bitbucket-server/__snapshots__/index.spec.js.snap
  test/platform/bitbucket-server/index.spec.js
Labels: in progress

#3186 feat(azure): gitFs support
  lib/platform/azure/azure-helper.js
  lib/platform/azure/index.js
  test/platform/azure/__snapshots__/azure-helper.spec.js.snap
  test/platform/azure/__snapshots__/index.spec.js.snap
  test/platform/azure/index.spec.js
  test/workers/repository/init/apis.spec.js
Labels: review

#3193 docs: better bb server docs
  lib/platform/bitbucket-server/README.md
Labels: review

#3197 feat: GitHub Actions docker image support
  lib/config/definitions.js
  lib/manager/github-actions/extract.js
  lib/manager/github-actions/index.js
  lib/manager/github-actions/update.js
  lib/manager/index.js
  test/_fixtures/github-actions/main.workflow.1
  test/manager/__snapshots__/manager-docs.spec.js.snap
  test/manager/github-actions/__snapshots__/extract.spec.js.snap
  test/manager/github-actions/extract.spec.js
  test/manager/github-actions/update.spec.js
  test/workers/repository/extract/__snapshots__/index.spec.js.snap
  website/docs/configuration-options.md
Labels: review

#3198 fix(maven): parse additional Maven repositories from pomfiles
  lib/manager/maven/extract.js
  test/_fixtures/maven/simple.pom.xml
  test/manager/maven/__snapshots__/extract.spec.js.snap
Labels: review

#3191 feat: go module vendoring support
  lib/manager/gomod/artifacts.js
Labels: review

#3199 feat(maven): support dependencies defined via properties
  lib/manager/maven/extract.js
  test/_fixtures/maven/simple.pom.xml
  test/manager/maven/__snapshots__/extract.spec.js.snap
  test/manager/maven/index.spec.js
Labels: review

#3195 docs: add readme for python poetry package manager
  lib/manager/poetry/readme.md
Labels: in progress

#3222 feat: docker image run side containers
  Dockerfile
Labels: review

#3148 feat: Support api version 2 for nuget datasource
  lib/datasource/nuget/index.js
  test/_fixtures/nuget/indexV3.json
  test/_fixtures/nuget/latestV2.json
  test/_fixtures/nuget/latestV2.xml
  test/_fixtures/nuget/latestV2_withoutProjectUrl.xml
  test/_fixtures/nuget/nunit.json
  test/_fixtures/nuget/nunitV2.json
  test/_fixtures/nuget/nunitV2.xml
  test/_fixtures/nuget/nunitV3.json
  test/_fixtures/nuget/nunitV3_withoutProjectUrl.json
  test/_fixtures/nuget/nunitv3_nuget-org.xml
  test/_fixtures/nuget/sample.nuspec
  test/datasource/__snapshots__/nuget.spec.js.snap
  test/datasource/nuget.spec.js
  website/docs/nuget.md
Labels: in progress

#3240 feat: validate managers list
  lib/config/validation-helpers/managers.js
  lib/config/validation.js
  test/config/__snapshots__/validation.spec.js.snap
  test/config/validation.spec.js
Labels: review

#3206 feat(maven): add maven ranges parsing
  lib/datasource/maven/index.js
  lib/versioning/maven/compare.js
  lib/versioning/maven/index.js
  test/_fixtures/maven/simple.pom.xml
  test/manager/maven/__snapshots__/extract.spec.js.snap
  test/manager/maven/index.spec.js
  test/versioning/maven.spec.js
Labels: review

#3270 fix(gradle): collect deps
  lib/manager/gradle/gradle-updates-report.js
  lib/versioning/maven/compare.js
Labels: review

#3267 feat(bazel): use commit / tag combo for go_repository
  lib/datasource/github/index.js
  lib/datasource/go/index.js
  lib/manager/bazel/update.js
  test/datasource/github.spec.js
  test/manager/bazel/__snapshots__/update.spec.js.snap
  test/manager/bazel/update.spec.js
Labels: review

#3280 docs: add prerequisites to local dev
  docs/local-development.md
Labels: review
