Repository renovatebot/renovate, pull requests merged in 2019-04, with the labels that each got.

#3470 fix: pipfile dependency with path causes file parsing error
  lib/manager/pipenv/extract.js
  test/manager/pipenv/extract.spec.js
Labels: review

#3475 refactor: force CLI params
  lib/config/definitions.js
  renovate-schema.json
  website/docs/self-hosted-configuration.md
Labels: breaking, review

#3453 fix: renovate not creating PRs for some python dependencies
  lib/workers/repository/process/lookup/index.js
  test/workers/repository/process/lookup/__snapshots__/index.spec.js.snap
  test/workers/repository/process/lookup/index.spec.js
Labels: review

#3459 feat: Bazel expanding support beyond WORKSPACE
  lib/config/definitions.js
  lib/manager/bazel/extract.js
  renovate-schema.json
  test/manager/bazel/__snapshots__/extract.spec.js.snap
  test/manager/bazel/_fixtures/repositories.bzl
  test/manager/bazel/extract.spec.js
  test/manager/bazel/update.spec.js
Labels: in progress

#3495 feat(gomod): private module support
  lib/manager/gomod/artifacts.js
  test/manager/gomod/artifacts.spec.js
Labels: review

#3505 feat: Cargo manager use toml parser
  lib/manager/cargo/extract.js
  lib/manager/cargo/update.js
  test/manager/cargo/__snapshots__/extract.spec.js.snap
  test/manager/cargo/__snapshots__/update.spec.js.snap
  test/manager/cargo/_fixtures/Cargo.1.toml
  test/manager/cargo/_fixtures/Cargo.2.toml
  test/manager/cargo/_fixtures/Cargo.3.toml
  test/manager/cargo/_fixtures/Cargo.4.toml
  test/manager/cargo/_fixtures/Cargo.5.toml
  test/manager/cargo/extract.spec.js
  test/manager/cargo/update.spec.js
Labels: review

#3507 feat: unify file locations
  bin/clean-cache.js
  docs/self-hosting.md
  lib/config/definitions.js
  lib/manager/composer/artifacts.js
  lib/manager/gomod/artifacts.js
  lib/manager/npm/post-update/index.js
  lib/manager/pipenv/artifacts.js
  lib/workers/global/cache.js
  lib/workers/global/index.js
  lib/workers/repository/index.js
  renovate-schema.json
  test/globals.js
  test/manager/composer/artifacts.spec.js
  test/manager/gomod/artifacts.spec.js
  test/manager/pipenv/artifacts.spec.js
  test/workers/global/index.spec.js
  test/workers/repository/updates/__snapshots__/flatten.spec.js.snap
  website/docs/self-hosted-configuration.md
Labels: review

#3517 chore: add @mdlavin to contributors list
  package.json
Labels: review

#3515 feat: Add ruby-version manager
  lib/config/definitions.js
  lib/manager/index.js
  lib/manager/ruby-version/extract.js
  lib/manager/ruby-version/index.js
  lib/manager/ruby-version/update.js
  renovate-schema.json
  test/config/__snapshots__/validation.spec.js.snap
  test/manager/ruby-version/__snapshots__/extract.spec.js.snap
  test/manager/ruby-version/__snapshots__/update.spec.js.snap
  test/manager/ruby-version/extract.spec.js
  test/manager/ruby-version/update.spec.js
  test/workers/repository/extract/__snapshots__/index.spec.js.snap
  website/docs/configuration-options.md
Labels: review

#3526 feat(gitFs): set default git author
  lib/workers/global/meta.js
Labels: review

#3492 feat(maven): Support nested version placeholders
  lib/manager/maven/extract.js
  test/manager/maven/__snapshots__/extract.spec.js.snap
  test/manager/maven/_fixtures/child.pom.xml
  test/manager/maven/_fixtures/parent.pom.xml
  test/manager/maven/extract.spec.js
  test/manager/maven/index.spec.js
Labels: in progress

#3514 feat: Bazel support of "container_pull" dependency-type
  lib/manager/bazel/extract.js
  lib/manager/bazel/update.js
  test/manager/bazel/__snapshots__/extract.spec.js.snap
  test/manager/bazel/__snapshots__/update.spec.js.snap
  test/manager/bazel/_fixtures/container_pull
  test/manager/bazel/extract.spec.js
  test/manager/bazel/update.spec.js
Labels: review

#3533 feat(maven): Handle parameterised repositories
  lib/manager/maven/extract.js
  test/manager/maven/_fixtures/child.pom.xml
  test/manager/maven/_fixtures/parent.pom.xml
  test/manager/maven/index.spec.js
Labels: review

#3538 docs: Add example in config-presets.md
  website/docs/config-presets.md
Labels: in progress

#3468 feat(dart): Add support for Dart
  lib/config/definitions.js
  lib/manager/index.js
  lib/manager/pub/extract.js
  lib/manager/pub/index.js
  lib/manager/pub/update.js
  renovate-schema.json
  test/config/__snapshots__/validation.spec.js.snap
  test/manager/pub/__snapshots__/extract.spec.js.snap
  test/manager/pub/__snapshots__/update.spec.js.snap
  test/manager/pub/_fixtures/extract.yaml
  test/manager/pub/_fixtures/update.yaml
  test/manager/pub/extract.spec.js
  test/manager/pub/update.spec.js
  test/workers/repository/extract/__snapshots__/index.spec.js.snap
  website/docs/configuration-options.md
Labels: review

#3409 feat: default requireConfig to true
  lib/config/definitions.js
  test/workers/repository/onboarding/branch/index.spec.js
Labels: breaking, review

#3408 refactor: enforce requireConfig
  lib/workers/repository/onboarding/branch/check.js
  test/workers/repository/onboarding/branch/index.spec.js
Labels: breaking, review

#3550 refactor: Maven versioning scheme
  lib/versioning/maven/compare.js
  lib/versioning/maven/index.js
Labels: review

#3555 feat: Add JSON5 parser
  lib/config/app-strings.js
  lib/workers/repository/init/config.js
  package.json
  test/workers/repository/init/config.spec.js
  yarn.lock
Labels: review

#3559 tests: Improve error handling test cases
  test/config/cli.spec.js
  test/config/index.spec.js
  test/datasource/docker.spec.js
  test/datasource/gradle-version.spec.js
  test/datasource/maven.spec.js
  test/datasource/npm/index.spec.js
  test/datasource/ruby-version.spec.js
  test/manager/composer/artifacts.spec.js
  test/manager/gradle/index.spec.js
  test/manager/npm/extract/index.spec.js
  test/platform/azure/azure-helper.spec.js
  test/platform/git/storage.spec.js
  test/platform/github/gh-got-wrapper.spec.js
  test/platform/github/index.spec.js
  test/platform/gitlab/index.spec.js
  test/workers/branch/get-updated.spec.js
  test/workers/branch/index.spec.js
  test/workers/repository/configured.spec.js
  test/workers/repository/onboarding/branch/index.spec.js
Labels: review

#3544 fix(pipenv): detect 'any-version' packages
  lib/manager/pipenv/extract.js
  test/manager/pipenv/_fixtures/Pipfile3
  test/manager/pipenv/extract.spec.js
Labels: review

#3541 feat(ivy): Add support for Ivy version scheme
  lib/config/definitions.js
  lib/versioning/ivy/index.js
  lib/versioning/ivy/parse.js
  lib/versioning/maven/compare.js
  renovate-schema.json
  test/versioning/ivy.spec.js
  test/versioning/maven.spec.js
Labels: review

#3574 refactor(pipenv): write registryUrls to packageFile level
  lib/manager/pipenv/extract.js
  test/manager/pipenv/__snapshots__/extract.spec.js.snap
  test/manager/pipenv/extract.spec.js
Labels: review

#3570 feat: Cache searchqueryservice URL for NuGet datasource
  lib/datasource/nuget/v3.js
  test/datasource/nuget.spec.js
Labels: review

#3577 feat(npm): support package aliases
  lib/manager/npm/extract/index.js
  lib/manager/npm/update.js
  test/manager/npm/__snapshots__/update.spec.js.snap
  test/manager/npm/extract/__snapshots__/index.spec.js.snap
  test/manager/npm/extract/index.spec.js
  test/manager/npm/update.spec.js
Labels: review

#3606 fix: Update poetry.lock file if it is in a subdirectory
  lib/manager/poetry/artifacts.js
Labels: review

#3597 feat: Add "rebase all" functionality in master issue
  lib/workers/branch/index.js
  lib/workers/repository/master-issue.js
  lib/workers/repository/process/index.js
Labels: review

#3614 feat: excludeCommitPaths
  lib/config/definitions.js
  lib/workers/branch/commit.js
  renovate-schema.json
  test/workers/repository/updates/__snapshots__/flatten.spec.js.snap
  website/docs/configuration-options.md
Labels: review
