Repository renovatebot/renovate, pull requests merged in 2021-11, with the labels that each got.

#12294 feat(config)!: make host rule detection configurable and opt-in
  docs/usage/getting-started/private-packages.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/global/config/parse/__snapshots__/env.spec.ts.snap
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Labels: breaking

#12296 feat(manager/regex)!: allow arbitrary regex groups for templates
  lib/manager/regex/__fixtures__/ansible.yml
  lib/manager/regex/__snapshots__/index.spec.ts.snap
  lib/manager/regex/index.spec.ts
  lib/manager/regex/index.ts
  lib/manager/regex/types.ts
Labels: breaking

#12407 fix(go)!: Don't fallback if GOPROXY used
  docs/usage/configuration-options.md
  lib/datasource/go/__snapshots__/releases-goproxy.spec.ts.snap
  lib/datasource/go/index.spec.ts
  lib/datasource/go/index.ts
  lib/datasource/go/releases-goproxy.spec.ts
  lib/datasource/go/releases-goproxy.ts
Labels: breaking

#12487 fix(automerge)!: default platformAutomerge to false
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/workers/pr/__snapshots__/index.spec.ts.snap
  lib/workers/pr/index.spec.ts
Labels: breaking

#12628 feat(manager/kustomize): support HelmChartInflationGenerator
  lib/manager/kustomize/__fixtures__/kustomizeHelmChart.yaml
  lib/manager/kustomize/__snapshots__/extract.spec.ts.snap
  lib/manager/kustomize/extract.spec.ts
  lib/manager/kustomize/extract.ts
  lib/manager/kustomize/readme.md
  lib/manager/kustomize/types.ts
Labels: manager:kustomize

#11869 feat: aws-machine-image datasource
  lib/datasource/api.ts
  lib/datasource/aws-machine-image/__snapshots__/index.spec.ts.snap
  lib/datasource/aws-machine-image/index.spec.ts
  lib/datasource/aws-machine-image/index.ts
  lib/datasource/aws-machine-image/readme.md
  lib/versioning/api.ts
  lib/versioning/aws-machine-image/index.spec.ts
  lib/versioning/aws-machine-image/index.ts
  lib/versioning/aws-machine-image/readme.md
  package.json
  yarn.lock
Labels: status:waiting-on-response

#12792 fix(platform/gitlab): description is too long on GitLab
  lib/platform/gitlab/index.spec.ts
  lib/platform/gitlab/index.ts
Labels: platform:gitlab
