Repository renovatebot/renovate, pull requests merged in 2021-12, with the labels that each got.

#12953 test: drop NODE_ENV from jest command
  package.json
Labels: ci:fulltest

#12954 fix(artifactory): assume UTC timezone
  lib/datasource/artifactory/index.ts
  lib/datasource/artifactory/readme.md
  package.json
Labels: ci:fulltest

#12935 feat(workers/global): check git at startup
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/global/initialize.spec.ts
  lib/workers/global/initialize.ts
Labels: ci:fulltest

#13029 docs(presets): fix samples
  docs/usage/config-presets.md
Labels: core:config

#12658 feat!: remove node v12 and node v15 support
  lib/platform/github/__snapshots__/index.spec.ts.snap
  lib/platform/github/index.spec.ts
  lib/util/cache/package/decorator.spec.ts
  lib/util/cache/package/decorator.ts
  package.json
  tsconfig.json
  tsconfig.strict.json
Labels: breaking

#12644 feat(config)!: parse JSON5/YAML self-hosted admin config
  docs/development/configuration.md
  lib/config-validator.ts
  lib/workers/global/config/parse/__fixtures__/config.json5
  lib/workers/global/config/parse/__fixtures__/config.yaml
  lib/workers/global/config/parse/file.spec.ts
  lib/workers/global/config/parse/file.ts
Labels: breaking

#12892 feat(preset)!: decrease prConcurrentLimit to 10
  docs/usage/configuration-options.md
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
Labels: breaking, core:config

#11429 docs: release as asset
  .eslintignore
  .github/workflows/build.yml
  .prettierignore
  .releaserc
  docs/usage/gitlab-bot-security.md
  docs/usage/modules/datasource.md
  docs/usage/modules/manager.md
  docs/usage/modules/platform.md
  docs/usage/modules/versioning.md
  docs/usage/templates.md
  lib/datasource/types.ts
  lib/manager/types.ts
  lib/types/base.ts
  lib/types/index.ts
  package.json
  tools/docs/config.ts
  tools/docs/datasources.ts
  tools/docs/manager.ts
  tools/docs/modules.ts
  tools/docs/platforms.ts
  tools/docs/presets.ts
  tools/docs/schema.ts
  tools/docs/templates.ts
  tools/docs/utils.ts
  tools/docs/versioning.ts
  tools/generate-docs.ts
  tools/utils/index.ts
Labels: type:docs

#13041 ci: fix docs upload
  .github/workflows/build.yml
Labels: type:docs

#12541 fix(manager/sbt): support more seq constructors
  lib/manager/sbt/__fixtures__/dependency-file.scala
  lib/manager/sbt/extract.ts
Labels: manager:sbt

#13096 fix(config/presets): wrong `node.js` group
  lib/config/presets/internal/group.ts
Labels: core:config
