Repository renovatebot/renovate, pull requests merged in 2021-09, with the labels that each got.

#11515 fix(core/changelogs): pass though known project info
  lib/datasource/github-releases/test/index.ts
  lib/datasource/github-releases/types.ts
  lib/datasource/github-tags/index.ts
  lib/datasource/github-tags/types.ts
  lib/datasource/gitlab-releases/types.ts
  lib/logger/__snapshots__/err-serializer.spec.ts.snap
  lib/logger/utils.ts
  lib/util/http/index.ts
  lib/workers/pr/changelog/__snapshots__/github.spec.ts.snap
  lib/workers/pr/changelog/__snapshots__/gitlab.spec.ts.snap
  lib/workers/pr/changelog/__snapshots__/index.spec.ts.snap
  lib/workers/pr/changelog/__snapshots__/release-notes.spec.ts.snap
  lib/workers/pr/changelog/github/index.ts
  lib/workers/pr/changelog/gitlab/index.ts
  lib/workers/pr/changelog/release-notes.spec.ts
  lib/workers/pr/changelog/release-notes.ts
  lib/workers/pr/changelog/source-github.ts
  lib/workers/pr/changelog/source-gitlab.ts
  lib/workers/pr/changelog/types.ts
  lib/workers/pr/index.spec.ts
  lib/workers/pr/index.ts
Labels: core:changelogs

#11618 docs: require git version
  docs/development/local-development.md
Labels: type:docs

#11401 feat(git): blobless git
  docs/development/local-development.md
  docs/usage/getting-started/running.md
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/init/index.ts
Labels: breaking

#11616 feat: disable pre-commit manager
  lib/config/presets/internal/default.ts
  lib/manager/pre-commit/index.ts
  lib/manager/pre-commit/readme.md
Labels: breaking

#11750 fix(manager/nuget): validate msbuild sdks
  lib/manager/nuget/__fixtures__/msbuild-sdk-files/global.1.json
  lib/manager/nuget/extract.spec.ts
  lib/manager/nuget/extract/global-manifest.ts
  lib/manager/nuget/readme.md
  lib/manager/nuget/types.ts
Labels: manager:nuget

#11794 feat(datasource/helm): optimize sourceurl massaging
  lib/datasource/helm/__fixtures__/index.yaml
  lib/datasource/helm/__fixtures__/sample.yaml
  lib/datasource/helm/__snapshots__/index.spec.ts.snap
  lib/datasource/helm/common.spec.ts
  lib/datasource/helm/common.ts
  lib/datasource/helm/index.ts
  lib/datasource/helm/types.ts
Labels: datasource:helm

#11820 fix(dependency-dashboard): Adjust dry run log output
  lib/workers/repository/dependency-dashboard.ts
Labels: core:dashboard
