Repository renovatebot/renovate, pull requests merged in 2021-08, with the labels that each got.

#11110 fix(datasource:adoptium-java): add caching
  lib/datasource/adoptium-java/index.ts
Labels: datasource:adoptium-java

#11105 chore(manager:helm-values): remove debug log
  lib/manager/helm-values/extract.ts
Labels: manager:helm-values

#11186 fix: remove double hyphens from branch names
  lib/workers/repository/updates/branch-name.spec.ts
  lib/workers/repository/updates/branch-name.ts
Labels: breaking

#11302 fix(datasource:adoptium-java): fix wrong api url
  lib/datasource/adoptium-java/__snapshots__/index.spec.ts.snap
  lib/datasource/adoptium-java/index.spec.ts
  lib/datasource/adoptium-java/index.ts
Labels: datasource:adoptium-java

#11107 feat(rubygems): support GitHub Packages
  lib/datasource/rubygems/__fixtures__/dependencies-rails.dat
  lib/datasource/rubygems/__snapshots__/index.spec.ts.snap
  lib/datasource/rubygems/common.ts
  lib/datasource/rubygems/get-rubygems-org.ts
  lib/datasource/rubygems/get.ts
  lib/datasource/rubygems/index.spec.ts
  lib/datasource/rubygems/releases.ts
  lib/datasource/rubygems/types.ts
  lib/types/marshal.d.ts
  lib/util/http/index.ts
  lib/util/http/types.ts
  package.json
  test/util.ts
  yarn.lock
Labels: datasource:rubygems

#11386 fix(manager:regex): allow no match in combination
  lib/manager/regex/index.spec.ts
  lib/manager/regex/index.ts
Labels: manager:regex

#11408 feat(gitlab): allow override gitAuthor
  lib/platform/github/index.ts
  lib/platform/gitlab/index.spec.ts
  lib/platform/gitlab/index.ts
  lib/platform/types.ts
Labels: platform:gitlab

#11485 fix(manager:dockerfile): wrong replace with trimmed images
  lib/manager/dockerfile/__snapshots__/extract.spec.ts.snap
  lib/manager/dockerfile/extract.spec.ts
  lib/manager/dockerfile/extract.ts
  lib/manager/droneci/__snapshots__/extract.spec.ts.snap
Labels: manager:dockerfile

#11484 feat(datasource:docker): use head requests
  lib/datasource/docker/__snapshots__/index.spec.ts.snap
  lib/datasource/docker/common.ts
  lib/datasource/docker/index.spec.ts
  lib/datasource/docker/index.ts
  lib/util/http/index.ts
Labels: datasource:docker
