Repository renovatebot/renovate, pull requests merged in 2022-10, with the labels that each got.

#18027 feat: default to binarySource=install
  lib/config/options/index.ts
  lib/util/exec/containerbase.ts
Labels: v33

#16969 feat: deprecate node v14
  .devcontainer/Dockerfile
  docs/development/local-development.md
  package.json
Labels: breaking, v33

#13171 fix(config)!: unify env and cli coercions
  lib/workers/global/config/parse/cli.ts
  lib/workers/global/config/parse/coersions.ts
  lib/workers/global/config/parse/env.spec.ts
  lib/workers/global/config/parse/env.ts
Labels: breaking, v33

#17949 feat(manager/gradle): add support for dependency lockfile updates
  lib/modules/manager/gradle/artifacts.spec.ts
  lib/modules/manager/gradle/artifacts.ts
  lib/modules/manager/gradle/index.ts
Labels: ci:fulltest

#18309 feat!: do not auto pin rangeStrategy
  docs/development/new-package-manager-template.md
  docs/usage/configuration-options.md
  docs/usage/getting-started/installing-onboarding.md
  lib/modules/manager/bundler/index.ts
  lib/modules/manager/bundler/range.spec.ts
  lib/modules/manager/bundler/range.ts
  lib/modules/manager/composer/range.spec.ts
  lib/modules/manager/composer/range.ts
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/type.spec.ts
  lib/modules/manager/npm/extract/type.ts
  lib/modules/manager/npm/range.spec.ts
  lib/modules/manager/npm/range.ts
  lib/modules/manager/pip_requirements/index.ts
  lib/modules/manager/pip_requirements/range.spec.ts
  lib/modules/manager/pip_requirements/range.ts
  lib/modules/manager/range.spec.ts
  lib/modules/manager/setup-cfg/index.ts
  lib/modules/manager/setup-cfg/range.spec.ts
  lib/modules/manager/setup-cfg/range.ts
  lib/modules/manager/types.ts
  lib/workers/repository/__fixtures__/package-files.json
  lib/workers/repository/extract/manager-files.spec.ts
Labels: breaking, v33
