Repository renovatebot/renovate, pull requests merged in 2023-07, with the labels that each got.

#23006 feat!: drop node v19 support
  package.json
Labels: breaking

#23075 feat: detect bitbucket host types
  lib/util/common.spec.ts
  lib/util/common.ts
Labels: type:feature, platform:bitbucket

#23077 refactor: reorder platforms alphabetically
  lib/util/common.spec.ts
  lib/util/common.ts
Labels: type:refactor

#23076 feat: refactor changelog platforms
  lib/workers/repository/update/pr/changelog/api.ts
  lib/workers/repository/update/pr/changelog/github.spec.ts
  lib/workers/repository/update/pr/changelog/github/index.ts
  lib/workers/repository/update/pr/changelog/gitlab/index.ts
  lib/workers/repository/update/pr/changelog/index.spec.ts
  lib/workers/repository/update/pr/changelog/index.ts
  lib/workers/repository/update/pr/changelog/source-github.ts
  lib/workers/repository/update/pr/changelog/source-gitlab.ts
  lib/workers/repository/update/pr/changelog/source.ts
Labels: type:refactor, core:changelogs

#21239 feat(presets): add config:best-practices preset
  lib/config/presets/internal/config.ts
Labels: core:config

#23084 chore(bitbucket): add optional page to PagedResult
  lib/modules/platform/bitbucket/types.ts
Labels: platform:bitbucket

#22984 feat(platform/bitbucket): support reopening declined PRs via comments
  lib/modules/platform/bitbucket/comments.spec.ts
  lib/modules/platform/bitbucket/comments.ts
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/types.ts
  lib/modules/platform/bitbucket/utils.ts
Labels: type:feature, platform:bitbucket

#22094 feat(platform/bitbucket): add support for fetching release notes
  lib/constants/platforms.ts
  lib/modules/platform/bitbucket/schema.ts
  lib/workers/repository/update/pr/changelog/api.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.ts
  lib/workers/repository/update/pr/changelog/bitbucket/source.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
  lib/workers/repository/update/pr/changelog/source.ts
  lib/workers/repository/update/pr/changelog/types.ts
Labels: type:feature, platform:bitbucket, core:changelogs

#23103 refactor(changelog/github): move source
  lib/workers/repository/update/pr/changelog/api.ts
  lib/workers/repository/update/pr/changelog/github/source.ts
Labels: type:refactor, core:changelogs

#23113 refactor(changelog): use util/url instead of deprecated URL
  lib/workers/repository/update/pr/changelog/source.spec.ts
  lib/workers/repository/update/pr/changelog/source.ts
Labels: type:refactor, core:changelogs

#23118 test(changelog): moves tests to respective source-platform folder
  lib/workers/repository/update/pr/changelog/github/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/github/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/__snapshots__/index.spec.ts.snap
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
Labels: type:refactor, core:changelogs

#23112 fix(changelog): remove urls from md heading url
  lib/util/__fixtures__/release-notes.txt
  lib/util/markdown.spec.ts
  lib/util/markdown.ts
  lib/workers/repository/update/pr/changelog/__snapshots__/release-notes.spec.ts.snap
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
Labels: type:bug, core:changelogs

#23128 refactor(release-notes): use util/url to validate url
  lib/workers/repository/update/pr/changelog/release-notes.ts
Labels: type:refactor, core:changelogs

#23165 fix(changelog/gitlab): custom endpoint and repository length validation
  lib/workers/repository/update/pr/changelog/gitlab/index.spec.ts
  lib/workers/repository/update/pr/changelog/gitlab/source.ts
  lib/workers/repository/update/pr/changelog/source.spec.ts
  lib/workers/repository/update/pr/changelog/source.ts
Labels: type:bug, core:changelogs

#23261 fix(platform/bitbucket-server): do not force lowercase project keys in autodiscover mode
  docs/usage/self-hosted-configuration.md
  lib/modules/platform/bitbucket-server/index.spec.ts
  lib/modules/platform/bitbucket-server/index.ts
  lib/workers/global/autodiscover.spec.ts
  lib/workers/global/autodiscover.ts
Labels: type:bug, platform:bitbucket-server

#23131 feat(manager/npm): extract contraints again on post-update
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/npm.ts
  lib/modules/manager/npm/post-update/lerna.spec.ts
  lib/modules/manager/npm/post-update/lerna.ts
  lib/modules/manager/npm/post-update/node-version.spec.ts
  lib/modules/manager/npm/post-update/node-version.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/post-update/pnpm.ts
  lib/modules/manager/npm/post-update/utils.ts
  lib/modules/manager/npm/post-update/yarn.spec.ts
  lib/modules/manager/npm/post-update/yarn.ts
  lib/modules/manager/npm/schema.ts
  lib/modules/manager/types.ts
Labels: manager:npm

#23085 feat(package-rules): add matchRepositories / excludeRepositories
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.ts
  lib/util/package-rules/match.ts
  lib/util/package-rules/matchers.ts
  lib/util/package-rules/repositories.spec.ts
  lib/util/package-rules/repositories.ts
Labels: type:feature, core:package-rules

#23524 feat: add hash util
  lib/util/hash.spec.ts
  lib/util/hash.ts
Labels: type:feature

#23274 refactor(release-notes): extract shouldSkipChangelogMd
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
Labels: type:refactor, core:changelogs

#23547 refactor(util/hash): replace sha256 hasha use cases
  lib/modules/datasource/crate/index.ts
  lib/modules/datasource/docker/common.ts
  lib/modules/datasource/github-release-attachments/digest.spec.ts
  lib/modules/datasource/rubygems/metadata-cache.ts
  lib/modules/platform/pr-body.spec.ts
  lib/modules/platform/pr-body.ts
  lib/util/hasha.ts
  lib/workers/repository/onboarding/pr/index.ts
Labels: type:refactor

#23515 feat: add minimatch wrapper to support caching
  lib/util/minimatch.spec.ts
  lib/util/minimatch.ts
Labels: type:feature

#23548 refactor(util/hash): replace hasha sha512 use cases
  lib/modules/manager/bazel/parser.ts
  lib/modules/platform/comment.ts
  lib/modules/platform/util.ts
  lib/util/cache/repository/impl/base.ts
  lib/util/cache/repository/impl/local.spec.ts
  lib/util/fingerprint.ts
  lib/util/http/index.ts
  lib/workers/repository/updates/branch-name.ts
Labels: type:refactor
