Repository renovatebot/renovate, pull requests merged in 2023-06, with the labels that each got.

#22562 fix(pnpm): lockfile v6 is supported as low as version 7.24.2
  lib/modules/manager/npm/post-update/pnpm.ts
Labels: reproduction:needed

#22648 feat!: remove `skipInstalls` config option
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/types.ts
  lib/workers/repository/extract/extract-fingerprint-config.spec.ts
Labels: breaking

#22736 ci: Simplify cache miss detection
  .github/actions/calculate-prefetch-matrix/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
  .github/workflows/release-npm.yml
Labels: ci:fulltest

#22703 feat(package-rules)!: match packageName for matchPackageNames
  docs/usage/self-hosted-experimental.md
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.spec.ts
  lib/util/package-rules/package-patterns.ts
Labels: breaking

#22978 feat(platform/bitbucket): handle author is also default reviewer
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
Labels: platform:bitbucket

#23020 feat(datasource)!: default to the central default versioning
  lib/modules/datasource/flutter-version/index.ts
  lib/modules/datasource/hexpm-bob/index.ts
  lib/modules/datasource/index.spec.ts
  lib/modules/datasource/index.ts
  lib/modules/versioning/index.ts
Labels: breaking
