Repository renovatebot/renovate, pull requests merged in 2023-04, with the labels that each got.

#21326 feat!: allow post upgrade templating by default
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/options/index.ts
Labels: breaking

#21327 feat(automerge)!: default to platformAutomerge=true
  docs/usage/configuration-options.md
  docs/usage/key-concepts/automerge.md
  lib/config/options/index.ts
  lib/modules/platform/gitea/index.md
Labels: breaking

#21530 fix(fs): allow `{}` inside paths
  lib/util/fs/util.ts
Labels: regression

#20156 feat(manager/gomod): add `goGetDirs` option
  docs/usage/configuration-options.md
  docs/usage/golang.md
  lib/config/options/index.ts
  lib/modules/manager/gomod/artifacts.spec.ts
  lib/modules/manager/gomod/artifacts.ts
  lib/modules/manager/types.ts
Labels: manager:gomod

#21122 feat(platform/gitlab)!: prefer `commit_email` (#21122
  lib/modules/platform/gitlab/index.ts
Labels: platform:gitlab, breaking

#21282 fix(post-upgrade-tasks)!: enable dot option for file filters
  docs/usage/configuration-options.md
  lib/workers/repository/update/branch/execute-post-upgrade-commands.ts
Labels: breaking

#21274 feat: npm workspaces
  lib/modules/manager/npm/extract/__snapshots__/monorepo.spec.ts.snap
  lib/modules/manager/npm/extract/monorepo.ts
  lib/modules/manager/npm/post-update/index.ts
  lib/modules/manager/npm/post-update/npm.spec.ts
  lib/modules/manager/npm/post-update/npm.ts
  lib/modules/manager/npm/types.ts
  lib/modules/manager/types.ts
  lib/util/url.spec.ts
  lib/util/url.ts
Labels: impact:large
