Repository renovatebot/renovate, pull requests merged in 2023-05, with the labels that each got.

#21970 feat(npm)!: disable rollbackPrs for npm by default
  docs/usage/configuration-options.md
  lib/config/index.spec.ts
  lib/modules/manager/npm/index.ts
Labels: breaking

#22015 fix(presets)!: remove compatibility:additionalBranchPrefix
  lib/config/presets/common.ts
  lib/config/presets/internal/compatibility.ts
  lib/config/presets/internal/index.ts
Labels: breaking

#21939 feat(vulnerabilities): set, maintain and expose vulnerabilitySeverity for templated fields
  lib/config/index.spec.ts
  lib/config/types.ts
  lib/config/utils.ts
  lib/modules/manager/types.ts
  lib/util/template/index.ts
  lib/util/vulnerability/utils.spec.ts
  lib/util/vulnerability/utils.ts
  lib/workers/repository/process/types.ts
  lib/workers/repository/process/vulnerabilities.ts
Labels: core:vulnerabilities

#22135 feat(bitbucket): add paginate http option
  lib/util/http/bitbucket.spec.ts
  lib/util/http/bitbucket.ts
Labels: platform:bitbucket

#21766 feat(vulnerabilities): add option to add summary to dashboard
  docs/usage/configuration-options.md
  lib/config/options/index.ts
  lib/config/types.ts
  lib/workers/repository/dependency-dashboard.spec.ts
  lib/workers/repository/dependency-dashboard.ts
Labels: core:vulnerabilities

#22278 feat(bitbucket): add support for pagelen
  lib/modules/platform/bitbucket/index.spec.ts
  lib/util/http/bitbucket.spec.ts
  lib/util/http/bitbucket.ts
Labels: type:feature, platform:bitbucket

#22275 refactor(bitbucket): use paginated api for getRepos
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/types.ts
Labels: type:refactor, platform:bitbucket

#22331 feat(template): allow isGroup
  lib/util/template/index.ts
Labels: type:feature

#22336 refactor(bitbucket): use paginated api for tags
  lib/modules/datasource/bitbucket-tags/index.ts
Labels: type:refactor, platform:bitbucket

#22330 refactor(bitbucket): use paginated api for pullrequests
  lib/modules/platform/bitbucket/index.ts
Labels: type:refactor, platform:bitbucket

#22329 refactor(bitbucket): use paginated api for commit statuses
  lib/modules/platform/bitbucket/index.ts
Labels: type:refactor, platform:bitbucket

#22348 refactor(bitbucket): use paginated api for comments
  lib/modules/platform/bitbucket/comments.ts
Labels: type:refactor, platform:bitbucket

#22406 feat!: merge matchPaths and matchFiles into matchFileNames
  docs/usage/configuration-options.md
  lib/config/__snapshots__/migration.spec.ts.snap
  lib/config/migration.spec.ts
  lib/config/migrations/custom/automerge-major-migration.spec.ts
  lib/config/migrations/custom/automerge-minor-migration.spec.ts
  lib/config/migrations/custom/automerge-patch-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.ts
  lib/config/options/index.ts
  lib/config/presets/internal/default.ts
  lib/config/types.ts
  lib/config/validation.ts
  lib/modules/manager/npm/extract/index.ts
  lib/util/package-rules/files.spec.ts
  lib/util/package-rules/files.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/matchers.ts
  lib/util/package-rules/paths.spec.ts
  lib/util/package-rules/paths.ts
  lib/workers/repository/init/__snapshots__/vulnerability.spec.ts.snap
  lib/workers/repository/init/vulnerability.spec.ts
  lib/workers/repository/init/vulnerability.ts
  lib/workers/repository/updates/flatten.spec.ts
Labels: breaking

#22291 feat(manager/flux): Support OCI Helm repositories
  lib/modules/manager/flux/__fixtures__/helmOCIRelease.yaml
  lib/modules/manager/flux/__fixtures__/helmOCIRelease2.yaml
  lib/modules/manager/flux/__fixtures__/helmOCISource.yaml
  lib/modules/manager/flux/__fixtures__/helmOCISource2.yaml
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/flux/extract.ts
  lib/modules/manager/flux/readme.md
  lib/modules/manager/flux/types.ts
Labels: ci:fulltest

#22357 test(bitbucket): update paginated values mocks
  lib/util/http/bitbucket.spec.ts
Labels: platform:bitbucket
