Repository renovatebot/renovate, pull requests merged in 2023-01, with the labels that each got.

#19880 fix(git): unset git-hooks after clone
  lib/util/git/index.ts
Labels: ci:fulltest

#19942 feat!: default to rangeStrategy=auto, prefer update-lockfile
  lib/config/options/index.ts
  lib/config/presets/common.ts
  lib/config/presets/index.spec.ts
  lib/config/presets/internal/config.ts
  lib/config/presets/internal/default.ts
  lib/modules/manager/cargo/index.ts
  lib/modules/manager/cargo/range.spec.ts
  lib/modules/manager/cargo/range.ts
  lib/modules/manager/circleci/extract.ts
  lib/modules/manager/circleci/index.ts
  lib/modules/manager/circleci/range.spec.ts
  lib/modules/manager/circleci/range.ts
  lib/modules/manager/composer/range.spec.ts
  lib/modules/manager/composer/range.ts
  lib/modules/manager/conan/index.ts
  lib/modules/manager/conan/range.spec.ts
  lib/modules/manager/conan/range.ts
  lib/modules/manager/gomod/extract.spec.ts
  lib/modules/manager/gomod/extract.ts
  lib/modules/manager/index.ts
  lib/modules/manager/npm/range.spec.ts
  lib/modules/manager/npm/range.ts
  lib/modules/manager/range.spec.ts
  lib/modules/manager/swift/index.ts
  lib/modules/manager/swift/range.spec.ts
  lib/modules/manager/swift/range.ts
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data-formatted.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json
  lib/workers/repository/config-migration/branch/__fixtures__/migrated-data.json5
  lib/workers/repository/config-migration/branch/__fixtures__/migrated.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json
  lib/workers/repository/config-migration/branch/__fixtures__/renovate.json5
  lib/workers/repository/config-migration/pr/__fixtures__/migrated-data.json
Labels: breaking

#20088 feat: deprecate Node.js 16 for Renovate runtime
  docs/usage/self-hosted-experimental.md
  lib/workers/global/index.ts
  package.json
Labels: v35

#19864 feat(manager/npm): read registry URLs from .yarnrc.yml
  lib/modules/manager/npm/__fixtures__/inputs/02.json
  lib/modules/manager/npm/extract/__snapshots__/index.spec.ts.snap
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/modules/manager/npm/extract/yarnrc.spec.ts
  lib/modules/manager/npm/extract/yarnrc.ts
Labels: manager:npm
