Repository renovatebot/renovate, pull requests merged in 2024-04, with the labels that each got.

#28193 feat(manager/pep621): allow auto grouping of dependencies in different groups
  lib/modules/manager/pep621/extract.spec.ts
  lib/modules/manager/pep621/utils.ts
Labels: breaking

#28326 fix(manager/terraform): fix hash generation with directory
  lib/modules/manager/terraform/lockfile/__fixtures__/test_with_folder.zip
  lib/modules/manager/terraform/lockfile/hash.spec.ts
  lib/modules/manager/terraform/lockfile/hash.ts
  lib/util/fs/index.spec.ts
  lib/util/fs/index.ts
  test/fixtures.ts
Labels: ci:fulltest

#27993 feat!: stop publishing slim docker tags
  tools/docker/bake.hcl
Labels: breaking

#28104 feat: initialize file logging via env
  docs/usage/config-overview.md
  docs/usage/examples/self-hosting.md
  lib/config/options/index.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/logger/index.ts
  lib/logger/utils.spec.ts
  lib/logger/utils.ts
  lib/workers/global/config/parse/index.spec.ts
  lib/workers/global/config/parse/index.ts
Labels: breaking

#28548 feat(package-rules)!: remove depName fallback
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.spec.ts
  lib/util/package-rules/package-patterns.ts
  lib/util/package-rules/package-prefixes.spec.ts
  lib/util/package-rules/package-prefixes.ts
Labels: breaking

#28400 feat(datasource/docker)!: prefer hub.docker.com over index.docker.io for tag lookups
  docs/usage/self-hosted-experimental.md
  lib/modules/datasource/docker/index.spec.ts
  lib/modules/datasource/docker/index.ts
Labels: breaking

#28551 feat(packageRules)!: support glob/regex patterns for matchPackageNames
  docs/usage/configuration-options.md
  lib/util/package-rules/dep-names.ts
  lib/util/package-rules/dep-patterns.spec.ts
  lib/util/package-rules/dep-patterns.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.ts
  lib/util/package-rules/package-prefixes.ts
  lib/util/package-rules/utils.ts
Labels: breaking

#28588 build!: drop compatibility from docker image
  tools/docker/Dockerfile
Labels: breaking

#28225 feat(git)!: determine branch modification based on all branch commits
  lib/modules/platform/default-scm.spec.ts
  lib/modules/platform/default-scm.ts
  lib/modules/platform/local/scm.spec.ts
  lib/modules/platform/local/scm.ts
  lib/modules/platform/types.ts
  lib/util/git/index.spec.ts
  lib/util/git/index.ts
  lib/workers/repository/config-migration/branch/rebase.ts
  lib/workers/repository/finalize/prune.ts
  lib/workers/repository/onboarding/branch/index.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.spec.ts
  lib/workers/repository/onboarding/branch/onboarding-branch-cache.ts
  lib/workers/repository/update/branch/index.ts
  lib/workers/repository/update/branch/reuse.ts
  lib/workers/repository/update/pr/automerge.ts
Labels: breaking

#28591 feat(packageRules)!: support regex or glob matching for all
  docs/usage/configuration-options.md
  docs/usage/string-pattern-matching.md
  lib/util/package-rules/base-branches.ts
  lib/util/package-rules/categories.ts
  lib/util/package-rules/datasources.ts
  lib/util/package-rules/dep-types.ts
  lib/util/package-rules/files.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/managers.ts
  lib/util/package-rules/sourceurls.ts
  lib/util/package-rules/update-types.ts
  lib/util/string-match.spec.ts
  lib/util/string-match.ts
Labels: breaking

#28206 feat(manager): Add devcontainer manager
  docs/usage/docker.md
  lib/config/options/index.ts
  lib/modules/manager/api.ts
  lib/modules/manager/devcontainer/extract.spec.ts
  lib/modules/manager/devcontainer/extract.ts
  lib/modules/manager/devcontainer/index.ts
  lib/modules/manager/devcontainer/readme.md
  lib/modules/manager/devcontainer/schema.ts
Labels: auto:no-done-comments
