Repository renovatebot/renovate, pull requests merged in 2024-11, with the labels that each got.

#32502 fix: overide `punycode` built-in module
  lib/config-validator.ts
  lib/punycode.cjs
  lib/renovate.ts
  package.json
  pnpm-lock.yaml
Labels: ci:fulltest

#32504 docs: release notes for Renovate v39
  docs/usage/release-notes-for-major-versions.md
  tools/mkdocs/mkdocs.yml
  tools/mkdocs/overrides/main.html
Labels: maintainer-input-needed

#32333 feat(manager/asdf): add supported tools
  lib/modules/manager/asdf/extract.spec.ts
  lib/modules/manager/asdf/upgradeable-tooling.ts
Labels: auto:no-done-comments, manager:asdf

#32600 feat(bundler): add inline source support
  lib/modules/manager/bundler/extract.spec.ts
  lib/modules/manager/bundler/extract.ts
Labels: auto:no-mentions

#32691 feat(bitbucket): support fetching changelogs with source directory
  lib/workers/repository/update/pr/changelog/bitbucket/index.spec.ts
  lib/workers/repository/update/pr/changelog/bitbucket/index.ts
Labels: platform:bitbucket, core:changelogs

#32693 fix(bitbucket): release notes heading link
  lib/workers/repository/update/pr/changelog/release-notes.spec.ts
  lib/workers/repository/update/pr/changelog/release-notes.ts
Labels: platform:bitbucket, core:changelogs

#32689 fix(bitbucket): source link root path
  lib/workers/repository/update/pr/body/index.spec.ts
  lib/workers/repository/update/pr/body/index.ts
Labels: platform:bitbucket
