Repository renovatebot/renovate, pull requests merged in 2024-01, with the labels that each got.

#26345 feat(bitbucket): Implement PR cache for repositories
  lib/modules/platform/bitbucket/index.spec.ts
  lib/modules/platform/bitbucket/index.ts
  lib/modules/platform/bitbucket/pr-cache.spec.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/bitbucket/types.ts
  lib/modules/platform/bitbucket/utils.ts
  lib/util/cache/repository/types.ts
Labels: platform:bitbucket

#26515 docs(gerrit): make image link relative
  lib/modules/platform/gerrit/readme.md
Labels: type:docs, platform:gerrit

#26508 fix(manager/nuget): Add autoReplaceStringTemplate
  lib/modules/manager/nuget/extract.spec.ts
  lib/modules/manager/nuget/extract.ts
Labels: manager:nuget

#26546 fix(datasource/docker): add cache decorator to `getDockerHubTags`
  lib/modules/datasource/docker/index.ts
Labels: datasource:docker

#26225 feat(config): implement custom header field inside HostRules
  docs/usage/configuration-options.md
  docs/usage/self-hosted-configuration.md
  lib/config/global.ts
  lib/config/options/index.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/types/host-rules.ts
  lib/util/http/host-rules.spec.ts
  lib/util/http/host-rules.ts
Labels: auto:no-done-comments

#26849 feat(preset): add allDigest grouping preset
  lib/config/presets/internal/group.ts
Labels: type:feature, core:config
