Repository renovatebot/renovate, pull requests merged in 2024-07, with the labels that each got.

#29734 test(pipenv): Rewrite test mocks
  lib/modules/manager/pipenv/artifacts.spec.ts
Labels: ci:fulltest

#29823 fix(datasource/go): support go proxy with abortOnError
  lib/modules/datasource/go/releases-goproxy.spec.ts
  lib/modules/datasource/go/releases-goproxy.ts
Labels: ci:fulltest

#30291 build!: require node v20
  .github/workflows/build.yml
  .github/workflows/update-data.yml
  docs/development/bump-node-major.md
  docs/development/local-development.md
  lib/types/base.ts
  lib/workers/global/index.ts
  package.json
Labels: breaking

#27670 feat(manager/argocd): Add support for Kustomize image overrides
  lib/modules/manager/argocd/__fixtures__/validApplication.yml
  lib/modules/manager/argocd/extract.spec.ts
  lib/modules/manager/argocd/extract.ts
  lib/modules/manager/argocd/schema.ts
Labels: auto:no-done-comments

#30396 test(git): enhance commit signing tests
  lib/util/git/private-key.spec.ts
  test/util.ts
Labels: ci:fulltest
