Repository renovatebot/renovate, pull requests merged in 2024-05, with the labels that each got.

#28602 feat(packageRules): migrate matchers and excludes
  docs/usage/configuration-options.md
  docs/usage/faq.md
  docs/usage/key-concepts/automerge.md
  docs/usage/key-concepts/dashboard.md
  docs/usage/modules/versioning/index.md
  docs/usage/noise-reduction.md
  lib/config/__snapshots__/migration.spec.ts.snap
  lib/config/__snapshots__/validation.spec.ts.snap
  lib/config/migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.spec.ts
  lib/config/migrations/custom/package-rules-migration.ts
  lib/config/migrations/custom/packages-migration.spec.ts
  lib/config/options/index.ts
  lib/config/presets/__snapshots__/index.spec.ts.snap
  lib/config/presets/index.spec.ts
  lib/config/presets/index.ts
  lib/config/presets/internal/default.ts
  lib/config/presets/internal/group.ts
  lib/config/presets/internal/monorepo.ts
  lib/config/presets/internal/packages.ts
  lib/config/presets/internal/replacements.ts
  lib/config/presets/internal/security.ts
  lib/config/presets/internal/workarounds.ts
  lib/config/types.ts
  lib/config/validation.spec.ts
  lib/config/validation.ts
  lib/modules/datasource/npm/npmrc.spec.ts
  lib/modules/datasource/npm/npmrc.ts
  lib/modules/versioning/regex/readme.md
  lib/util/package-rules/base.ts
  lib/util/package-rules/dep-names.spec.ts
  lib/util/package-rules/dep-names.ts
  lib/util/package-rules/dep-patterns.spec.ts
  lib/util/package-rules/dep-patterns.ts
  lib/util/package-rules/dep-prefixes.spec.ts
  lib/util/package-rules/dep-prefixes.ts
  lib/util/package-rules/index.spec.ts
  lib/util/package-rules/index.ts
  lib/util/package-rules/matchers.ts
  lib/util/package-rules/package-names.spec.ts
  lib/util/package-rules/package-names.ts
  lib/util/package-rules/package-patterns.spec.ts
  lib/util/package-rules/package-patterns.ts
  lib/util/package-rules/package-prefixes.spec.ts
  lib/util/package-rules/package-prefixes.ts
  lib/util/package-rules/repositories.spec.ts
  lib/util/package-rules/repositories.ts
  lib/util/package-rules/sourceurl-prefixes.ts
  lib/util/package-rules/types.ts
  lib/util/package-rules/utils.ts
  lib/workers/repository/process/lookup/index.spec.ts
Labels: breaking

#29164 fix: Correct digest resolution when the replacementName and replacementVersion options are defined
  lib/workers/repository/process/lookup/index.spec.ts
  lib/workers/repository/process/lookup/index.ts
Labels: auto:reproduction

#29044 docs: update regex to custom managers
  lib/constants/category.ts
  lib/modules/manager/custom/regex/index.ts
  lib/modules/manager/custom/regex/readme.md
  tools/docs/manager.ts
Labels: type:docs
