Repository renovatebot/renovate, pull requests merged in 2025-01, with the labels that each got.

#33373 fix(platform): ensure order for cached pr's on gitea and bitbucket
  lib/modules/platform/bitbucket/pr-cache.spec.ts
  lib/modules/platform/bitbucket/pr-cache.ts
  lib/modules/platform/gitea/index.spec.ts
  lib/modules/platform/gitea/pr-cache.ts
Labels: platform:bitbucket, platform:gitea

#33382 fix(config): encrypted field validation
  lib/config/decrypt.spec.ts
  lib/config/decrypt.ts
Labels: breaking

#33671 feat(flux): update docker images of helm release values
  lib/modules/manager/flux/__fixtures__/multidoc.yaml
  lib/modules/manager/flux/extract.spec.ts
  lib/modules/manager/flux/extract.ts
  lib/modules/manager/flux/readme.md
  lib/modules/manager/flux/schema.ts
  lib/modules/manager/helm-values/extract.ts
Labels: manager:flux

#33673 feat(nuget): respect `global.json` for artifact updates
  lib/modules/manager/nuget/artifacts.spec.ts
  lib/modules/manager/nuget/artifacts.ts
  lib/modules/manager/nuget/extract/global-manifest.ts
  lib/modules/manager/nuget/schema.ts
  lib/modules/manager/nuget/types.ts
  lib/modules/manager/nuget/util.spec.ts
  lib/modules/manager/nuget/util.ts
Labels: manager:nuget

#33754 docs: added list of valid namespace codes for the cacheTtlOverride config
  docs/usage/self-hosted-configuration.md
Labels: auto:format-code

#33624 feat(preset): adding Azure and AzureAD monorepos (SDK and auth)
  lib/data/monorepo.json
Labels: breaking

#33638 feat(manager): add devbox manager module
  lib/modules/manager/api.ts
  lib/modules/manager/devbox/artifacts.spec.ts
  lib/modules/manager/devbox/artifacts.ts
  lib/modules/manager/devbox/extract.spec.ts
  lib/modules/manager/devbox/extract.ts
  lib/modules/manager/devbox/index.ts
  lib/modules/manager/devbox/readme.md
  lib/modules/manager/devbox/schema.spec.ts
  lib/modules/manager/devbox/schema.ts
Labels: auto:no-merge-from-main
