Repository renovatebot/renovate, pull requests merged in 2025-05, with the labels that each got.

#35253 fix(bazel): workspace injection
  lib/modules/manager/bazel-module/bazelrc.spec.ts
  lib/modules/manager/bazel-module/bazelrc.ts
Labels: auto:no-done-comments

#35896 fix(kubernetes): add underscore tag support
  lib/modules/manager/kubernetes/__fixtures__/underscore-tag.yaml
  lib/modules/manager/kubernetes/extract.spec.ts
  lib/modules/manager/kubernetes/extract.ts
Labels: ci:allow-undesirable

#35927 fix(manager/npm): search for npmrc in the root directory
  lib/modules/manager/npm/extract/index.spec.ts
  lib/modules/manager/npm/extract/index.ts
  lib/workers/repository/onboarding/branch/index.spec.ts
Labels: auto:no-merge-from-main

#35847 fix(helmv3): helm charts with lockfiles never gets automerged
  lib/modules/manager/helmv3/artifacts.spec.ts
  lib/modules/manager/helmv3/artifacts.ts
Labels: auto:no-done-comments
